@use "./variables" as v;
@use "./mixins" as *;

%content-padding {
  @include default-padding(3rem);

  @include respond(tab-land) {
    @include default-padding(1.5rem);
  }
}

%background-dark {
  background-color: v.$color-gray-dark-1;
}

%background-image {
  background-image: url(/images/hero.svg);
  background-size: cover;
  background-position: 50% 50%;
}
