@use './variables' as v;
@use './mixins' as *;

%content-padding {
  @include default-padding(3rem);

  @include respond(tab-land) {
    @include default-padding(1.5rem);
  }
}

%background-dark {
  background-color: v.$color-gray-dark-1;
}

%background-image {
  background-image: linear-gradient(
    to right,
    rgba(v.$color-gray-dark-2, 0.7),
    rgba(v.$color-gray-dark-2, 0.7)),
    url(/images/hero.webp);
  background-size: cover;
  background-position: top;
}
