---
import Layout from "../layouts/Layout.astro";
import ResponsiveProfileImage from "../components/ResponsiveProfileImage.astro";
---

<Layout
  class="body"
  description="Homepage of Oleksii Shevtsov, PhD"
  relativePath="/"
>
  <main class="main">
    <div class="text">
      <h1>Hi, I am Oleksii.</h1>
      <h2 class="mt2">
        Software engineer, technology enthusiast, and avid learner based in
        Stockholm.
      </h2>
    </div>
    <div class="img">
      <ResponsiveProfileImage />
    </div>
  </main>
</Layout>

<style lang="scss" is:global>
  @use "../styles/partials/extends" as *;
  @use "../styles/partials/mixins" as *;
  @use "../styles/partials/utils";

  .body {
    @extend %background-image;
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-land) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .text {
    max-width: 65rem;

    @include respond(tab-land) {
      margin-top: 4rem;
      text-align: center;
      order: 1;
    }
  }

  .img {
    @include respond(tab-port) {
      max-width: 75%;
    }
  }
</style>
