---
---

<footer>
  <p>&copy; Oleksii Shevtsov</p>
</footer>

<style lang="scss" is:global>
  @use "../styles/partials/variables" as v;
  @use "../styles/partials/extends" as *;

  footer {
    @extend %background-dark;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;
    font-size: 1.8rem;
    border-top: v.$line-light;
  }
</style>
